.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
}
.main__input, .main__translation {
  height: 20vh;
  width: 60vw;
  background-color: rgb(238, 216, 237);
  margin: 9px;
  color: rgb(9, 9, 9);
  border: 2px solid rgb(4, 4, 4);
  text-align: center;
}


